<!DOCTYPE html>

<html>
    <head>
        <!-- <link rel="stylesheet" href="./css/style.css"> -->
        <link rel="stylesheet" href="../../public/css/style.css">
        {{!-- <script src="../../public/js/app.js"></script> --}}
    </head>
    <body>
        {{>header}}
        <h1>Hello from index hbs page {{title}}</h1>
        <form>
            <input placeholder="location">
            <button>Search</button>
        </form>
        <p id="message-1"></p>
        <p id="message-2"></p>
         <script src="../../public/js/app.js"></script>
    </body>

</html>